#####
#
# TYPO3 optimized .htaccess file
#
# This file contains a collection of almost everything you will need
# for optimising TYPO3:
#
# - Rewrite rules (mod_rewrite, used for RealUrl etc.)
# - PHP optimisation (optional, allow some tweaks)
# - Miscellaneous (e.g. disallow directory listings)
# - Compression and HTTP request reduction (mod_deflate, mod_expires)
#
# If you want to use it, you'll need to rename this file to '.htaccess' and adjust
# the 'AllowOverride' directive in your Apache configuration file (eg: AllowOverride All).
#
# You can also use this configuration in your httpd.conf, since this is much faster.
# You'll have to modify some lines (prepend the path to your installation for example,
# read the comments for more details) and/or wrap the whole set of rules
# with a directory condition:
# <Directory /srv/mysite/www/web/>
#   AllowOverride None
#   … (Rules)
# </Directory>
#
# Caution, you may need to change this file depending on your TYPO3 installation!
# You should change every occurance of TYPO3root/ to the location
# where you have your website in. For example:
# If you have your website located at http://example.com/
# then your TYPO3root/ is just empty (remove 'TYPO3root/')
# If you have your website located at http://example.com/some/path/
# then your TYPO3root/ is some/path/ (search and replace)
# If you use httpd.conf and dont wrap it with the directory condition you will have to
# prepend the path to the web directory as well.
#
# If you have problems with this file, try using the minimal mod_rewrite.htaccess
# which is located in the typo3_src/misc/ directory of your installation.
#
# This .htaccess file is based on the original TYPO3 example .htaccess
# and modified by Dan Untenzu <untenzu@webit.de> for webit! Gesellschaft für neue Medien mbH
#
#####

### BEGIN: REWRITE RULES ###

### Enable URL rewriting
RewriteEngine On

### To assist in debugging rewriting, you could use these lines
### DON'T enable it for production!
### IMPORTANT: This will only work in httpd.conf, not in .htaccess files!
#RewriteLog /var/log/apache/rewrite.log
#RewriteLogLevel 9

### This directive is required by some extensions
### Caution, if you use the RealUrl extension, then you should remove this directive and
### use the example given in here some lines later
### You will have to change this path if your TYPO3 installation is located in
### a subdirectory of the website root.
### If you place this in httpd.conf, you cannot use this directive in any case!
#RewriteBase /

### Maintenance mode
#RewriteCond %{REMOTE_ADDR} !=77.235.161.98
#RewriteCond %{REQUEST_URI} !=/maintenance.html [NC]
#RewriteRule ^(.*)$ /maintenance.html [R=302,NC,L]

### Force HTTPS
#RewriteCond %{HTTPS} !=on
#RewriteCond %{ENV:HTTPS} !=on
#RewriteCond %{HTTP_HOST} !(\.hob:([0-9]){2,4}|\.webit\.de)$
#RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

### Rule for versioned static files, configured through:
### - $TYPO3_CONF_VARS['BE']['versionNumberInFilename']
### - $TYPO3_CONF_VARS['FE']['versionNumberInFilename']
### IMPORTANT: This rule has to be the very first RewriteCond in order to work!
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)\.(\d+)\.(php|js|css|png|jpg|gif|gzip)$ $1.$3 [L]

### Basic security measures - deny access to certain files
### Restrict access to deleted files, TypoScript files, private extension directories, log files
### For httpd.conf, use these lines instead of the next ones:
# RewriteRule ^/TYPO3root/fileadmin/(.*/)?_recycler_/ - [F]
# RewriteRule ^/TYPO3root/fileadmin/templates/.*(\.txt|\.ts)$ - [F]
# RewriteRule ^/TYPO3root/typo3conf/ext/[^/]+/Resources/Private/ - [F]
RewriteRule ^fileadmin/(.*/)?_recycler_/ - [F]
RewriteRule ^fileadmin/templates/.*(\.txt|\.ts)$ - [F]
RewriteRule ^typo3conf/ext/[^/]+/Resources/Private/ - [F]
RewriteRule ^(fileadmin/scripts/|fileadmin/log/|uploads/formhandler/tmp/) - [F]
RewriteCond %{QUERY_STRING} \=PHP[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12} [NC]
RewriteRule .* - [F]
### Block bots searching for security holes
RewriteRule ^(phpMyAdmin|phpmyadmin|phpmyadmin2|pma|mysql|_mysql|myadmin|mysqladmin|MySQLDumper|dbadmin|sql|websql|phppath|wp|wordpress|wp-admin|admin|administrator|phppath|phpTest|user|MSOffice)/(.*)$ - [F]
### Block certain IPs
#Order deny,allow
#Deny from 77.247.181.162 89.234.157.254 81.209.204.50 176.10.99.200 181.143.31.229 181.143.8.34 185.224.132.125 190.7.136.147 197.231.221.211
#Allow from all

### Block search engine bots on test system
RewriteCond %{HTTP_USER_AGENT} (Googlebot|Yahoo|bingbot|AhrefsBot|Baiduspider|Ezooms|MJ12bot|teoma|YandexBot) [NC]
RewriteCond %{HTTP_HOST} \.webit\.de$
RewriteRule .* - [F,L]

### Sitemap
RewriteRule ^sitemap\.xml$ /?eID=dd_googlesitemap [L]
#RewriteRule ^sitemap\.xml$ /?eID=dd_googlesitemap&L=0 [L]
#RewriteRule ^sitemap_en\.xml$ /?eID=dd_googlesitemap&L=1 [L]

# News sitemap
RewriteRule ^sitemap_news\.xml$ /?eID=dd_googlesitemap&sitemap=dmf&selector=news [L]
#RewriteRule ^sitemap_news_de\.xml$ /?eID=dd_googlesitemap&sitemap=dmf&selector=news&L=0 [L]
#RewriteRule ^sitemap_news_en\.xml$ /?eID=dd_googlesitemap&sitemap=dmf&selector=news&L=1 [L]

### Shortlinks
#RewriteRule ^service/?$ /de/service/ [L,R=301]

### Custom redirects (remap old URLs, SEO, …)
#RewriteRule ^old/(.*)$ /new/site/$1 [L,R=301]

### Patch to redirect to default language if RealURL uses »bypass« for language detection
### dont redirect if any query strings (eg. eID exist)
RewriteCond %{QUERY_STRING} -n
RewriteRule ^/?$ /de/ [L,R=302]

### Stop rewrite processing if we are in the typo3/ directory
### For httpd.conf, use this line instead of the next one:
### RewriteRule ^/TYPO3root/(typo3/|t3lib/|tslib/|fileadmin/|typo3conf/|typo3temp/|uploads/|showpic\.php|favicon\.ico) - [L]
RewriteRule ^(typo3/|t3lib/|tslib/|fileadmin/|typo3conf/|typo3temp/|uploads/|showpic\.php|favicon\.ico) - [L]

### Redirect http://mysite/typo3 to http://mysite/typo3/index_re.php
### and stop the rewrite processing
### For httpd.conf, use this line instead of the next one:
### RewriteRule ^/TYPO3root/typo3$ /TYPO3root/typo3/index.php [L]
RewriteRule ^typo3$ typo3/index_re.php [L]

### If the file/symlink/directory does not exist => Redirect to index.php
### Important note: If you copy/paste this into httpd.conf instead of .htaccess
### you will need to add '%{DOCUMENT_ROOT}' left to each '%{REQUEST_FILENAME}' part.
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l

### Main URL rewriting - rewrite requests to index.php

### The example shows how to rewrite only *.html and *.pdf files to index.php
### This may be helpful when using an extension that can generate PDF files on the fly.
### Example: RewriteRule .*\.(html|pdf)$ index.php [L]

### For use with the RealUrl extension, you might need to remove the RewriteBase
### directive somewhere above and use this line to rewrite all incoming requests:
### For httpd.conf, use this line instead
### RewriteRule .* /TYPO3root/index.php [L]
# RewriteRule .* /index.php [L]
RewriteRule .* index.php [L]

### END: REWRITE RULES ###

### BEGIN: PHP OPTIMISATION ###

### All features below are left to the default if you don't change this. So check your
### installation and remove the comment marks if you want to use some of these settings.

### The PHP developers recommend disabling this feature. Do that.
### It's deprecated and is likely to be unsupported in future versions of PHP.
#php_flag allow_call_time_pass_reference off

### TYPO3 works fine with register_globals turned off. This is highly recommended!
#php_flag register_globals off

### PHP may not declare the argv & argc variables (that would contain the GET information).
### TYPO3 doesn't need this, so just turn it off.
#php_flag register_argc_argv off

### Magic quotes for runtime-generated data (data from SQL, exec(), etc)
### It is highly recommended to deactive this feature since it is deprecated!
#php_flag magic_quotes_gpc off

### Order in which PHP registers GET, POST, Cookie and Built-in variables
#php_value variables_order GPCS

### php power up
#php_value memory_limit 256M
#php_value max_execution_time 60

### END: PHP OPTIMISATION ###

### BEGIN: MISCELLANEOUS ###

### Set TYPO3 Application Context
### (recommended to set this in httpd.conf, will be »Production« by default)
#SetEnv TYPO3_CONTEXT Development/Test

### Make sure that directory listings are disabled
Options -Indexes

### Deliver everything in UTF-8 by default
### AddDefaultCharset - only for files with »text/plain« or »text/html« MIME type
#AddDefaultCharset UTF-8
#AddCharset UTF-8 .js
#AddCharset UTF-8 .css
#AddCharset UTF-8 .json
#<filesMatch "\.(xml|json)$">
#AddDefaultCharset UTF-8
#</filesMatch>

### Add MimeTypes
#AddType 'text/html; charset=UTF-8' .html
#AddType 'application/json; charset=UTF-8' .json
#AddType 'image/ico' .ico

### END: MISCELLANEOUS ###

### BEGIN: COMPRESSION AND HTTP REQUEST REDUCTION ###

### GZIP compression of assets via TYPO3 ###
### Set $TYPO3_CONF_VARS['BE']['compressionLevel'] = '9'
### Set $TYPO3_CONF_VARS['FE']['compressionLevel'] = '9'
### Set TypoScript properties »config.compressJs« and »config.compressCss«
### Uncomment the following lines:
#<FilesMatch "\.js\.gzip$">
#  AddType "text/javascript" .gzip
#</FilesMatch>
#<FilesMatch "\.css\.gzip$">
#  AddType "text/css" .gzip
#</FilesMatch>
#AddEncoding gzip .gzip

AddType image/x-icon .ico
#<ifModule mod_gzip.c>
#  mod_gzip_on Yes
#  mod_gzip_dechunk Yes
#  mod_gzip_item_include file \.(html?|txt|css|js|php|pl)$
#  mod_gzip_item_include handler ^cgi-script$
#  mod_gzip_item_include mime ^text/.*
#  mod_gzip_item_include mime ^application/x-javascript.*
#  mod_gzip_item_exclude mime ^image/.*
#  mod_gzip_item_exclude rspheader ^Content-Encoding:.*gzip.*
#</ifModule>
### use mod_deflate instead of mod_gzip if possible
<ifModule mod_deflate.c>
  AddOutputFilterByType DEFLATE text/html text/plain text/xml application/xml application/xhtml+xml text/css text/javascript application/x-javascript application/javascript image/svg+xml text/json application/json
  #DeflateCompressionLevel 3
  ### Make sure proxies don't deliver the wrong content
  Header append Vary User-Agent env=!dont-vary
</ifModule>
<ifModule mod_expires.c>
  ExpiresActive On
  ExpiresDefault "access plus 1 seconds"
  #<FilesMatch "\.(ico|jpg|jpeg|png|gif|js|css|swf)$">
  #  ExpiresDefault "access plus 2 month"
  #</FilesMatch>
  ExpiresByType text/html "access plus 1 seconds"
  ExpiresByType text/plain "access plus 1 seconds"
  ExpiresByType text/xml "access plus 60 seconds"
  ExpiresByType application/xml "access plus 60 seconds"
  ExpiresByType application/xhtml+xml "access plus 1 seconds"
  ExpiresByType text/json "access plus 60 seconds"
  ExpiresByType application/json "access plus 60 seconds"
  ExpiresByType text/css "access plus 432000 seconds"
  ExpiresByType text/javascript "access plus 432000 seconds"
  ExpiresByType application/x-javascript "access plus 432000 seconds"
  ExpiresByType application/javascript "access plus 432000 seconds"
  ExpiresByType image/gif "access plus 2592000 seconds"
  ExpiresByType image/jpeg "access plus 2592000 seconds"
  ExpiresByType image/png "access plus 2592000 seconds"
  ExpiresByType image/ico "access plus 2592000 seconds"
  ExpiresByType image/x-icon "access plus 2592000 seconds"
  ExpiresByType video/quicktime "access plus 2592000 seconds"
  ExpiresByType audio/mpeg "access plus 2592000 seconds"
  ExpiresByType application/pdf "modification plus 2592000 seconds"
  ExpiresByType application/x-shockwave-flash "access plus 2592000 seconds"
</ifModule>
<ifModule mod_headers.c>
  Header set Cache-Control "max-age=86400, private, must-revalidate"
  <filesMatch "\.(html|htm|php)$">
    Header set Cache-Control "max-age=1, private, must-revalidate"
  </filesMatch>
  <filesMatch "\.(xml|json|txt)$">
    Header set Cache-Control "max-age=60, private, must-revalidate"
  </filesMatch>
  <filesMatch "\.(css)$">
    Header set Cache-Control "max-age=432000, public"
  </filesMatch>
  <filesMatch "\.(js)$">
    Header set Cache-Control "max-age=432000, private"
  </filesMatch>
  <filesMatch "\.(gif|jpg|jpeg|png|ico|mpeg|swf)$">
    Header set Cache-Control "max-age=2592000, public"
  </filesMatch>
  <filesMatch "\.(pdf)$">
    Header set Cache-Control "max-age=2592000, private, must-revalidate"
  </filesMatch>
  Header unset ETag
  FileETag None
</ifModule>

### END: COMPRESSION AND HTTP REQUEST REDUCTION ###

# Add your own rules here
# ...