.margin-top-64 {
    margin-top: 64px !important;
}

.button-fixed-lowerleft {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 32px;
    z-index: 2
}

@media (max-width: 601px) {
    .button-fixed-lowerleft {
        margin: 16px
    }
}

/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #424242;
    -webkit-tap-highlight-color: #424242;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

nav {
    margin: 0 !important;
    background: darkcyan !important;
    height: 60px;
}

#content {
    padding-top: 60px;
    overflow: hidden;
    padding-bottom: 60px;
    background: #222;
}
footer{
    position: static;
    right: 0;
    left: 0;
    z-index: -1;
    background: #424242 !important;
    text-align: center;
}
/*Typo3 benutzt Header um die Überschriften anzuzeigen*/
header{
    height: 100% !important;
    white-space: normal !important;
    background: #222 !important;
}


#sidebar nav {
    padding: 0 !important;
}

#sidebar button {
    background: transparent;
}

#brand-name {
    margin: 6px;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.navbar .frame {
    min-height: 50px;
}

.material-dropdown {
    cursor: pointer;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    padding: 0 16px;
    top: 12px;
}

.material-dropdown figure {
    width: 4px;
    height: 4px;
    border-radius: 5px;
    background: #ffffff;
    margin: 3px 0;
}

.dropdown {
    position: fixed;
    right: -10px;
    /* left: -55px; */
    top: 2.3em;
    transition: all 0.25s ease-out;
    transform: scale(0);
    transform-origin: 100% 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 8px 0 rgba(0, 0, 0, 0.12);
}

.dropdown li {
    display: block;
    width: 100%;
    padding: 0;
    margin: -10px 0;
}

.dropdown li a {
    width: auto;
    padding: 1em 18px;
    display: inline-block;
    white-space: pre;
    box-sizing: border-box;
    margin: 5px 0 0 10px;
    color: #fff !important;
}

.dropdown li a:hover {
    background: #ebebeb;
}

.dropdown:hover ul {
    transform: scale(1);
}

.dropdown.active {
    transform: scale(1);
    transition: all 0.25s cubic-bezier(0.5, 1.8, 0.9, 0.8);
    background: darkcyan;
    margin: 23px 10px 0px 0px;
    width: 140px;
    border: 0;
}

.middle {
    transition: all 0.25s cubic-bezier(0.72, 1.2, 0.71, 0.72);
    transform: scale(1);
    position: relative;
    box-shadow: 0 0.1px 0.1px 0 rgba(0, 0, 0, 0.16), 0 0.1px 0.3px 0 rgba(0, 0, 0, 0.12);
    -webkit-filter: blur(0.1px);
    filter: blur(0.1px);
}

.middle.active {
    transform: scale(4.5);
    transition: all 0.25s cubic-bezier(0.32, 2.04, 0.85, 0.54);
    box-shadow: 0 0.1px 0.1px 0 rgba(0, 0, 0, 0.16), 0 0.1px 0.3px 0 rgba(0, 0, 0, 0.12);
}

.cross {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    margin-top: -1px;
    color: white;
    transition: all 0.2s cubic-bezier(0.72, 1.2, 0.71, 0.72);
    font-size: 22px;
    user-select: none;
}

.cross.active {
    transform: translate(-50%, -50%) scale(1);
    transition: all 0.15s cubic-bezier(0.32, 2.04, 0.85, 0.54);
    color: #000;
    margin: auto;
    margin-top: -13px;
}

.cross.active:focus {
    outline: none;
}

div#settings-mobile figure {
    padding: 1px !important;
}

/* NEWS */
p.creatDate {
    margin: -10px 0px 0px 10px;
    font-size: 14px;
}

.news hr {
    width: 100vw;
}

.aktuelles .title {
    color: #df4343;
}

.veranstaltung .title {
    color: #f8e856;
}

.responsive-label {
    align-items: center;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: -252px;
    height: 100vh;
    z-index: 999;
    background: #424242;
    color: #fff;
    transition: all 0.3s;
    overflow-y: hidden;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    margin: 0;
}

#sidebar.active {
    left: 0;
}

#dismiss {
    width: 25px;
    height: 25px;
    line-height: 35px;
    text-align: center;
    /* background: #424242; */
    position: absolute;
    font-size: 30px;
    top: 0;
    right: 20px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.overlay.active {
    display: block;
    opacity: 1;
}

/*#sidebar .sidebar-header {
  padding: 20px;
  background: #424242;
}

#sidebar ul.components {
  padding: 20px 0;
  margin: 0;
}

#sidebar li {
  padding: 0;
  font-size: 1.1em;
  display: block;
  color: #fff;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
  color: #fff;
}

#sidebar ul a:hover, #sidebar ul a:focus {
  color: #ffffff;
  background: #03adadbd;
}

#sidebar a span {
  font-size: 10px;
  margin-right: 10px;
  margin-left: 5px;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #fff;
  background: #b6bccc;
}*/

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

#sidebar .fa {
    line-height: 25px;
    padding-right: 10px;
}

@media screen and (min-width: 751px) {
    #sidebar {
        box-shadow: none;
    }
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
nav {
    border: 0 !important;
}

.navbar {
    background: #424242;
}

button#sidebarCollapse {
    background: transparent;
    color: #FFF;
    font-size: 30px;
    /* border-color: #424242; */
    transition: 0.1s all;
    transform: scale(1);
    margin: 0;
}

button#sidebarCollapse:hover {
    transition: 0.1s all;
    transform: scale(1.05);
}

button#sidebarCollapse:focus {
    box-shadow: none;
}

button#settings-mobile {
    float: right;
    background: transparent;
    color: #FFF;
    font-size: 20px;
    line-height: 40px;
    width: 35px;
    height: 35px;
    transition: 0.1s all;
    transform: scale(1);
}

div#settings-desktop {
    float: right;
    background: transparent;
}

div#settings-desktop {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    padding: 0px !important;
    font-size: 1.1em;
    top: -5px;
}

div#settings-desktop a:hover {
    color: #ffffff;
    background: #03adadbd;
    padding: 10px;
}

div#settings-desktop a {
    background: transparent;
    padding: 10px;
}



#reservation-widget {
    display: flex;
    justify-content: center;
}

#reservation-widget .hours {
    font-size: .7em;
    color: #999;
}

#reservation-widget .btn-group {
    text-align: center;
    padding: 10px;
}

#reservation-submit {
    border: 1px solid #ffca28;
}

/* ---------------------------------------------------
    Add Style to TYPO3
----------------------------------------------------- */
form#form-reservation{
    border: 0;
}
#form-reservation nav.form-navigation {
    background: #222 !important;
}
#form-reservation button.btn.btn-primary:hover {
    background: #424242;

}

#form-reservation button.btn.btn-primary {
    border: 1px solid;
    background: #008b8b;
    width: 100%;
    padding: 10px;
}
#form-reservation .form-inline{
    display: -webkit-inline-box;
}

#form-reservation span.help-block {
    padding-left: 6px;
    font-size: 12px;
    color: #7b7b7b;
}
#form-reservation .input {
    display: grid;
    padding: 10px 0 10px 0;
}
#form-reservation .btn-group, #form-reservation nav * {
    padding: 0px;
}

/* Map Widget */
.tx-maps2.offline-map {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    background-image: url("/fileadmin/images/trailer1.jpg");
}
/* ---------------------------------------------------
    Change Style of mini.css
----------------------------------------------------- */

span.icon-arrow-left:hover {
    transform: rotateZ(180deg);
    transition: all 0.3s;
}

span.icon-arrow-left {
    background-image: url(icons/arrow-left.svg);
    transition: 0.3s;
}

/* Startseite - Home-Icon*/
span#menu-item-6 {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23fdfdfd' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z'%3E%3C/path%3E%3Cpolyline points='9 22 9 12 15 12 15 22'%3E%3C/polyline%3E%3C/svg%3E")
}

/* Reservierung - Credit-Icon*/
span#menu-item-7 {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23fdfdfd' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Crect x='1' y='4' width='22' height='16' rx='2' ry='2'%3E%3C/rect%3E%3Cline x1='1' y1='10' x2='23' y2='10'%3E%3C/line%3E%3C/svg%3E")
}

/* Anfahrt - Location-Icon*/
span#menu-item-8 {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23fdfdfd' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z'%3E%3C/path%3E%3Ccircle cx='12' cy='10' r='3'%3E%3C/circle%3E%3C/svg%3E")
}

/* Speisekarte - Cart-Icon*/
span#menu-item-9 {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23fdfdfd' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='9' cy='21' r='1'%3E%3C/circle%3E%3Ccircle cx='20' cy='21' r='1'%3E%3C/circle%3E%3Cpath d='M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6'%3E%3C/path%3E%3C/svg%3E")
}

/* Kontakt - Help-Icon*/
span#menu-item-26 {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23fdfdfd' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3'%3E%3C/path%3E%3Ccircle cx='12' cy='12' r='10'%3E%3C/circle%3E%3Cline x1='12' y1='17' x2='12' y2='17'%3E%3C/line%3E%3C/svg%3E")
}

span[id^='menu-item-'] {
    display: inline-block;
    height: 1em;
    width: 1em;
    vertical-align: -0.125em;
    background-size: contain;
    margin-left: 0px;
}

input:not([type]), [type="time"], [type="date"] {
    box-sizing: border-box;
    background: var(--input-back-color);
    color: var(--input-fore-color);
    border: .0625rem solid var(--input-border-color) !important;
    border-radius: var(--universal-border-radius);
    margin: calc(var(--universal-margin) / 2);
    padding: var(--universal-padding) calc(1.5 * var(--universal-padding));
}
span.icon-arrow-left:hover {
    transform: rotateZ(180deg);
    transition: all 0.3s;
}

span.icon-arrow-left {
    background-image: url(icons/arrow-left.svg);
    transition: 0.3s;
}

input:not([type]), [type="time"], [type="date"] {
    box-sizing: border-box;
    background: var(--input-back-color);
    color: var(--input-fore-color);
    border: .0625rem solid var(--input-border-color) !important;
    border-radius: var(--universal-border-radius);
    margin: calc(var(--universal-margin) / 2);
    padding: var(--universal-padding) calc(1.5 * var(--universal-padding));
}

.mobile-bottom-bar {
    width: 100%;
    height: 3.778rem;
    background: #1779ba;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    margin-bottom: 0;
    border-width: 1px 0 0;
    position: fixed;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.mobile-bottom-bar span[class^='icon-'] {
    display: inline-block;
}

.mobile-bottom-bar div {
    display: contents;
}

.mobile-bottom-bar p {
    display: none;
}

#top-bar {
    position: fixed;
    width: 100vw;
    z-index: 10;
    left: 0;
    border-radius: 0;
}
#top-bar .col-sm {
    display: flex;
}

.mobile-bottom-bar .footer-link {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 5 5 auto;
    text-align: center;
    color: #0c3e5f;
    text-transform: uppercase;
    height: 100%;
    width: 100%;
    font-size: 10px;
    font-weight: bold;
    padding: initial;
    line-height: 70px;

}

.mobile-bottom-bar .footer-link i.fa {
    opacity: 0.8;
    margin-right: 0.625rem;
    font-size: 1.5rem;
    vertical-align: middle;

}

.mobile-bottom-bar .footer-link:hover {
    background: #424242;
}
.mobile-bottom-bar .footer-link.active{
    background: rgba(66, 66, 66, 0.51);
}

.mobile-bottom-bar .footer-link:focus, .mobile-bottom-bar .footer-link:active {
    color: #0c3e5f;
}

.mobile-bottom-bar .footer-text {
    position: relative;
    top: 2px;
    font-weight: bold;
    font-size: 0.875rem;
    color: #0c3e5f;
}

.mobile-bottom-bar .sidebar-header {
    padding: 20px;
    background: #424242;
    display: none;
}

@media (min-width: 900px) {
    #top-bar {
        position: fixed;
        width: 100vw;
        z-index: 10;
        left: 250px;
        border-radius: 0;
        top: 0;
    }
    footer{
        position: absolute;
        right: 0;
        left: 0;
        margin-left: 250px;
        padding: 1rem;
        z-index: -1;
        background: #424242 !important;
        text-align: center;
    }
    span[id^='menu-item-'] {
        display: inline-block;
        height: 1em;
        width: 1em;
        vertical-align: -0.125em;
        background-size: contain;
        margin-left: -130px;
    }

    .mobile-bottom-bar {
        width: 250px;
        height: 100vh;
        position: fixed;
        border-radius: 0;
        z-index: 0;
        display: block;
    }

    .mobile-bottom-bar .footer-link {
        -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
        flex: 5 5 auto;
        text-align: center;
        color: #0c3e5f;
        text-transform: uppercase;
        width: 100%;
        font-size: 10px;
        font-weight: bold;
        padding: initial;
        line-height: 70px;
        height: 5em;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .mobile-bottom-bar span[class^='icon-'] {
        display: block;
    }

    .mobile-bottom-bar p {
        display: block;
        font-size: 1rem;
        margin: -14px;
        margin-left: 25px;
        color: #fff;
    }

    .mobile-bottom-bar div {
        display: block;
        padding-right: 0;
        padding-left: 0;
        padding-top: 0;
    }

    .mobile-bottom-bar .sidebar-header {
        padding: 20px;
        background: #424242;
        display: block;
        text-align: center;
    }

    #content {
        padding-left: 250px;
        background: #222;
    }
}

/* ProgressiveUIKit */
#progressivekitt-ui{display:block !important;display:-ms-flexbox !important;display:-webkit-flex !important;display:flex !important;display:-ms-flexbox !important;display:-webkit-flex !important;display:flex !important;-ms-flex-direction:row;-webkit-flex-direction:row;flex-direction:row}#progressivekitt-ui.progressivekitt-ui--hidden{display:none !important}#progressivekitt-ui .progressivekitt-message{outline:none;z-index:999;display:block;position:fixed;background-color:#323232;color:#f1f1f1;font-family:"Roboto","Noto",sans-serif;line-height:18px;font-size:14px;-webkit-font-smoothing:antialiased;min-height:48px;padding:16px 24px;box-sizing:border-box;box-shadow:0 2px 5px 0 rgba(0,0,0,0.26);border-radius:2px;left:0;bottom:0;margin:12px;-webkit-transition:-webkit-transform 0.3s, opacity 0.3s;transition:transform 0.3s, opacity 0.3s;opacity:0;-webkit-transform:translateY(100px);transform:translateY(100px);cursor:default}#progressivekitt-ui .progressivekitt-message--shown{opacity:1;-webkit-transform:translateY(0);transform:translateY(0)}#progressivekitt-ui .progressivekitt-button{color:#eeff41;text-transform:uppercase;font-weight:600;padding-left:24px;cursor:pointer}
/*# sourceMappingURL=flat.css.map */
