<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="endpoint">
	<f:translate key="tx_acmereservation_domain_model_subscriber.endpoint" />
</label><br />
	<f:form.textfield property="endpoint" /><br />
<label for="browserKey">
	<f:translate key="tx_acmereservation_domain_model_subscriber.browser_key" />
</label><br />
	<f:form.textfield property="browserKey" /><br />
<label for="authSecret">
	<f:translate key="tx_acmereservation_domain_model_subscriber.auth_secret" />
</label><br />
	<f:form.textfield property="authSecret" /><br />
<label for="subscribedAt">
	<f:translate key="tx_acmereservation_domain_model_subscriber.subscribed_at" />
</label><br />
	<f:form.textfield property="subscribedAt" value="{subscriber.subscribedAt->f:format.date()}" /><br />
<label for="unsubscribedAt">
	<f:translate key="tx_acmereservation_domain_model_subscriber.unsubscribed_at" />
</label><br />
	<f:form.textfield property="unsubscribedAt" value="{subscriber.unsubscribedAt->f:format.date()}" /><br />
<label for="enabled">
	<f:translate key="tx_acmereservation_domain_model_subscriber.enabled" />
</label><br />
	<f:form.checkbox property="enabled" value="1" /><br />
</html>