<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-acme-reservation" >
	<tr>
		<td>
			<f:translate key="tx_acmereservation_domain_model_reservierung.name" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_acmereservation_domain_model_reservierung.datum" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_acmereservation_domain_model_reservierung.zeit" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_acmereservation_domain_model_reservierung.anzahl" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_acmereservation_domain_model_reservierung.email" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_acmereservation_domain_model_reservierung.status" />
		</td>
		<td>
		</td>
	</tr>
</table>
</html>