<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:layout name="Default"/>
<f:section name="content">
    <h1>Liste der Reservierungen</h1>

    <f:flashMessages/>

    <table class="tx_acmereservation">
        <tr>
            <th>
                <f:translate key="tx_acmereservation_domain_model_reservierung.name"/>
            </th>
            <th>
                <f:translate key="tx_acmereservation_domain_model_reservierung.datum"/>
            </th>
            <th>
                <f:translate key="tx_acmereservation_domain_model_reservierung.zeit"/>
            </th>
            <th>
                <f:translate key="tx_acmereservation_domain_model_reservierung.anzahl"/>
            </th>
            <th>
                <f:translate key="tx_acmereservation_domain_model_reservierung.email"/>
            </th>
            <th>
                <f:translate key="tx_acmereservation_domain_model_reservierung.status"/>
            </th>
            <th></th>
            <th></th>
        </tr>

        <f:for each="{reservierungs}" as="reservierung">
            <tr>
                <td>
                    <f:link.action action="show" arguments="{reservierung : reservierung}"> {reservierung.name}
                    </f:link.action>
                </td>
                <td>
                    <f:link.action action="show" arguments="{reservierung : reservierung}"> {reservierung.datum ->
                        f:format.date()}
                    </f:link.action>
                </td>
                <td>
                    <f:link.action action="show" arguments="{reservierung : reservierung}"> {reservierung.zeit}
                    </f:link.action>
                </td>
                <td>
                    <f:link.action action="show" arguments="{reservierung : reservierung}"> {reservierung.anzahl}
                    </f:link.action>
                </td>
                <td>
                    <f:link.action action="show" arguments="{reservierung : reservierung}"> {reservierung.email}
                    </f:link.action>
                </td>
                <td>
                    <f:link.action action="show" arguments="{reservierung : reservierung}"> {reservierung.status}
                    </f:link.action>
                </td>
                <td>
                    <f:link.action action="edit" arguments="{reservierung : reservierung}">Edit</f:link.action>
                </td>
                <td>
                    <f:link.action action="delete" arguments="{reservierung : reservierung}">Delete</f:link.action>
                </td>
            </tr>
        </f:for>
    </table>


    <h1>Reservierung tätigen (List.html)</h1>

    <f:flashMessages/>

    <f:render partial="FormErrors"/>

    <f:form action="create"
            controller="Reservierung"
            extensionName="AcmeReservation"
            pluginName="Reservaciaplugini"
            name="newReservation"
            method="POST"
            class="jqControll"
            id="form-reservation"
            object="{newReservation}">
        <f:render partial="Reservierung/FormFields"/>
        <!--<f:form.submit value="Reservierung" />-->
        <div class="row">
            <div class="col-md-12">
                <button id="form_Reservieren" class="btn" type="submit">Reservierung tätigen</button>
            </div>
        </div>
    </f:form>


    <!--Beispiel zum testen des Szenarios-->
    <!--
        <f:link.action
                action="list"
                pageType="99"
                onclick="return false"
                class="jqClick"
        >

            Mein linktext

        </f:link.action>-->
    <!-- Ende Beispiel -->
</f:section>
</html>