<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:layout name="Default"/>
<f:section name="content">
    <!--<h1>Reservierungen</h1>-->

    <f:flashMessages/>

    <!--<table class="tx_acmereservation">-->
        <!--<tr>-->
            <!--<th>-->
                <!--<f:translate key="tx_acmereservation_domain_model_reservierung.name"/>-->
            <!--</th>-->
            <!--<th>-->
                <!--<f:translate key="tx_acmereservation_domain_model_reservierung.datum"/>-->
            <!--</th>-->
            <!--<th>-->
                <!--<f:translate key="tx_acmereservation_domain_model_reservierung.zeit"/>-->
            <!--</th>-->
            <!--<th>-->
                <!--<f:translate key="tx_acmereservation_domain_model_reservierung.anzahl"/>-->
            <!--</th>-->
            <!--<th>-->
                <!--<f:translate key="tx_acmereservation_domain_model_reservierung.email"/>-->
            <!--</th>-->
            <!--<th>-->
                <!--<f:translate key="tx_acmereservation_domain_model_reservierung.status"/>-->
            <!--</th>-->
            <!--<th></th>-->
            <!--<th></th>-->
        <!--</tr>-->

        <!--<f:for each="{newReservations}" as="newReservation">-->
            <!--<tr>-->
                <!--<td>-->
                    <!--<f:link.action action="show" arguments="{newReservation : newReservation}"> {newReservation.name}-->
                    <!--</f:link.action>-->
                <!--</td>-->
                <!--<td>-->
                    <!--<f:link.action action="show" arguments="{newReservation : newReservation}"> {newReservation.datum ->-->
                        <!--f:format.date()}-->
                    <!--</f:link.action>-->
                <!--</td>-->
                <!--<td>-->
                    <!--<f:link.action action="show" arguments="{newReservation : newReservation}"> {newReservation.zeit}-->
                    <!--</f:link.action>-->
                <!--</td>-->
                <!--<td>-->
                    <!--<f:link.action action="show" arguments="{newReservation : newReservation}"> {newReservation.anzahl}-->
                    <!--</f:link.action>-->
                <!--</td>-->
                <!--<td>-->
                    <!--<f:link.action action="show" arguments="{newReservation : newReservation}"> {newReservation.email}-->
                    <!--</f:link.action>-->
                <!--</td>-->
                <!--<td>-->
                    <!--<f:link.action action="show" arguments="{newReservation : newReservation}"> {newReservation.status}-->
                    <!--</f:link.action>-->
                <!--</td>-->
                <!--<td>-->
                    <!--<f:link.action action="edit" arguments="{newReservation : newReservation}">Edit</f:link.action>-->
                <!--</td>-->
                <!--<td>-->
                    <!--<f:link.action action="delete" arguments="{newReservation : newReservation}">Delete</f:link.action>-->
                <!--</td>-->
            <!--</tr>-->
        <!--</f:for>-->
    <!--</table>-->
    <h1>Reservierung tätigen (List.html)</h1>
    <f:flashMessages/>
    <f:render partial="FormErrors"/>
    <f:form action="create"
            controller="Reservierung"
            extensionName="AcmeReservation"
            pluginName="Reservaciaplugini"
            name="newReservation"
            method="POST"
            class="jqControll"
            id="form-reservation"
            object="{newReservation}">
        <f:render partial="Reservierung/FormFields"/>
        <div class="row">
            <div class="col-md-12">
                <button id="form_Reservieren" class="btn" type="submit">Reservierung tätigen</button>
<!--
                <f:form.submit value="Reservierung" id="form_Reservieren" class="btn"/>
-->
            </div>
        </div>
    </f:form>

<!--
    <h1>Reservierung tätigen ohne Ajax (List.html)</h1>
    <f:flashMessages/>
    <f:render partial="FormErrors"/>
    <f:form id="form-reservation" action="create" name="newReservierung" object="{newReservierung}">
        <f:render partial="Reservierung/FormFields"/>
        <div class="row">
            <div class="col-md-12">
                <button id="form_Reservieren" class="btn" type="submit">Reservierung tätigen</button>
                &lt;!&ndash;
                                <f:form.submit value="Reservierung" id="form_Reservieren" class="btn"/>
                &ndash;&gt;
            </div>
        </div>
    </f:form>-->
</f:section>
</html>