<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:layout name="Default"/>
<f:section name="content">
    <!--<h1>Reservierungen</h1>-->

    <h1>Reservierung tätigen (List.html)</h1>


    <f:flashMessages/>
    <f:render partial="FormErrors"/>
    <f:form action="create"
            controller="Reservierung"
            extensionName="AcmeReservation"
            pluginName="Reservaciaplugini"
            name="newReservation"
            method="POST"
            class="jqControll"
            id="form-reservation"
            object="{newReservation}">
        <f:render partial="Reservierung/FormFields"/>
        <div class="row">
            <div class="col-md-12">
                <button id="form_Reservieren" class="btn" type="submit">Reservierung tätigen</button>
                <!--
                                <f:form.submit value="Reservierung" id="form_Reservieren" class="btn"/>
                -->
            </div>
        </div>
    </f:form>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div id="res-loader" class="flash">
            </div>
        </div>
    </div>

    <h1>Reservierungen Einträge (Server-Datenbank)</h1>
    <p>Zum Testen ob der Eintrag in der Datenbank au dem Server gelandet ist bitte aktualisieren.</p>
    <a id="reload" style="display: none;text-align: center;"
       href="javascript:location.reload();$('#mySpinner').addClass('spinner');"
       class="button secondary">Tabelle aktualisieren ob neuer Eintrag in Server-DB</a>
    <div id="message" class="flash"></div>
    <table class="tx_acmereservation table-res">
        <tr>
            <th>
                <f:translate key="tx_acmereservation_domain_model_reservierung.name"/>
            </th>
            <th>
                <f:translate key="tx_acmereservation_domain_model_reservierung.datum"/>
            </th>
            <th>
                <f:translate key="tx_acmereservation_domain_model_reservierung.zeit"/>
            </th>
            <th>
                <f:translate key="tx_acmereservation_domain_model_reservierung.anzahl"/>
            </th>
            <th>
                <f:translate key="tx_acmereservation_domain_model_reservierung.email"/>
            </th>
        </tr>


        <f:for each="{newReservations}" as="newReservation">
            <tr>
                <td>
                    {newReservation.name}
                </td>
                <td>
                    {newReservation.datum -> f:format.date()}
                </td>
                <td>
                    {newReservation.zeit}
                </td>
                <td>
                    {newReservation.anzahl}

                </td>
                <td>
                    {newReservation.email}

                </td>
            </tr>
        </f:for>
    </table>
</f:section>
</html>