<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
  <f:layout name="Default" />
  <f:section name="content">
    <h1>Reservierung tätigen (New.html)</h1>

    <f:flashMessages />

    <f:render partial="FormErrors" />
    <f:form action="create" method="post" name="form" id="form-reservation" object="{newReservierung}">
    <f:render partial="Reservierung/FormFields" />
      <button class="btn" type="button"
              data-item-id=""
              data-request-url="t:uri.ajaxAction(action= 'create',
                                           controller='Reservierung',
                                           extensionName: 'acmereservation',
                                           pluginName='Reservaciaplugini',
                                           arguments='{ email: tx_acmereservation_domain_model_reservierung.email  }',
                                           format: 'json')-> f:format.htmlentities()">
        BUTTON ZUR RESERVIERUNG
      </button>
      <!--<f:form.submit value="Reservierung" />-->
    </f:form>
  </f:section>
</html>