{namespace t=Helhum\TyposcriptRendering\ViewHelpers}

<header>
    <div>
        <nav id="top-bar">
            <div class="frame row">
                <div class="col-sm">
                    <h2 id="brand-name">{brandName -> f:format.raw()}</h2>

                </div>

                <div id="settings-desktop" class="material-dropdown">
                    <button disabled class="js-push-btn"
                            data-url="{t:uri.ajaxAction(action: 'create',
                                               arguments: '{newSubscriber: newSubscriber}',
                                               controller: 'Subscriber',
                                               extensionName:'AcmeReservation',
                                               pluginName:'Reservaciaplugini',
                                               format:'html')->f:format.htmlentities()}">
                        Benachr. akt.
                    </button>
                    <button disabled class="js-del-btn"
                            data-url="{t:uri.ajaxAction(action: 'delete',
                                               arguments: '{newSubscriber: newSubscriber}',
                                               controller: 'Subscriber',
                                               extensionName:'AcmeReservation',
                                               pluginName:'Reservaciaplugini',
                                               format:'html')->f:format.htmlentities()}">
                        Benachr. Deakt.
                    </button>
                    <button id="btnAppInstall">Inst.</button>
                </div>
                <div id="connectionStatus"></div>

            </div>
        </nav>
        <!--suppress BuyFluidPluginNoteInspection -->
        <nav style="transition: all 0.3s ease 0s;" id="mobile-bottom-bar" class="mobile-bottom-bar">
            <div class="sidebar-header">
                {logo -> f:format.raw()}
            </div>
            <div>
                {menuPrimaryMobile -> f:format.raw()}
            </div>
        </nav>
    </div>
</header>

<main id="content" class="container">
    <div class="row">
        <f:if condition="{contentMargin}">
            <f:then>
                <div class="col-md-8 content-main">{contentMain -> f:format.raw()}</div>
                <div class="col-md-4 content-margin">{contentMargin -> f:format.raw()}</div>
            </f:then>
            <f:else>
                <div class="col-md-12 content-main">{contentMain -> f:format.raw()}</div>
            </f:else>
        </f:if>
        <div class="row">
            <f:if condition="contentUserlist">
                <div class="col-md-4">
                    {contentUserlist -> f:format.raw()}
                </div>
            </f:if>
            <div class="row">
                <f:if condition="contentForReservation">
                    {contentForReservation -> f:format.raw()}

                </f:if>
            </div>
        </div>
    </div>
</main>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <aside class="row">
                    <div class="col-md-4 date-wrapper"><h4>Begrüßung</h4>
                        {labelToday -> f:format.raw()}
                        <div class="date">{now}</div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
    <script>ProgressiveKITT.setStylesheet("/fileadmin/javascript/UIKit/themes/flat.css");
    ProgressiveKITT.render();</script>
</footer>
