<header>
    <div>
        <nav id="top-bar">
            <div class="frame row">
                <div class="col-sm">
                    <h2 id="brand-name">{brandName -> f:format.raw()}</h2>
                </div>
                <div id="settings-mobile" class="material-dropdown">
                    <figure></figure>
                    <figure class="middle"></figure>
                    <p class="cross">x</p>
                    <figure></figure>
                    <ul class="dropdown">
                        <li><a href="#">Einstellungen</a></li>
                        <li><a href="#">Aktualisieren</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <nav style="transition: all 0.3s ease 0s;" id="mobile-bottom-bar" class="mobile-bottom-bar">
            <div class="sidebar-header">
                {logo -> f:format.raw()}
            </div>
            <div>
                {menuPrimaryMobile -> f:format.raw()}
            </div>
        </nav>
    </div>
</header>

<main id="content" class="container">
    <div class="row">
        <f:if condition="{contentMargin}">
            <f:then>
                <div class="col-md-8 content-main">{contentMain -> f:format.raw()}</div>
                <div class="col-md-4 content-margin">{contentMargin -> f:format.raw()}</div>
            </f:then>
            <f:else>
                <div class="col-md-12 content-main">{contentMain -> f:format.raw()}</div>
            </f:else>
        </f:if>
        <div class="row">
            <f:if condition="contentUserlist">
                <div class="col-md-4">
                    {contentUserlist -> f:format.raw()}
                </div>
            </f:if>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h4>{labelNews}</h4>
                    <aside class="row">
                        <div class="col-md-4 date-wrapper">
                            {labelToday -> f:format.raw()}
                            <div class="date">{today}</div>
                        </div>
                        <div class="col-md-8 news-wrapper">
                            {footerNews -> f:format.raw()}
                        </div>
                    </aside>
                </div>
                <div class="col-md-4">
                    <h4>{labelMore}</h4>
                    <nav>{menuSecondary -> f:format.raw()}</nav>
                </div>
            </div>
        </div>
    </footer>
</main>

