#############################
# TYPO3 CMS Base Distribution
#############################
.DS_Store
.idea
bin
index.php
nbproject
vendor
typo3
typo3_src
web/index.php
web/typo3
### Typo3 template
## TYPO3 v6.2
# Ignore several upload and file directories.
/fileadmin/user_upload/
/fileadmin/_temp_/
/fileadmin/_processed_/
/uploads/
# Ignore cache
/typo3conf/temp_CACHED*
/typo3conf/temp_fieldInfo.php
/typo3conf/deprecation_*.log
/typo3conf/ENABLE_INSTALL_TOOL
/typo3conf/realurl_autoconf.php
/FIRST_INSTALL
# Ignore system folders, you should have them symlinked.
# If not comment out the following entries.
/typo3
/typo3_src
/typo3_src-*
/Packages
/.htaccess
/index.php
# Ignore temp directory.
/typo3temp/

web/fileadmin/_processed_/2/
web/fileadmin/_processed_/3/
web/fileadmin/_processed_/a/
web/fileadmin/_processed_/c/
web/fileadmin/user_upload/0087c7325601b820.jpg
web/typo3conf/ext/news/
web/typo3temp/assets/_processed_/
web/typo3temp/assets/compressed/
web/typo3temp/assets/images/
web/typo3temp/var/Cache/Code/
web/typo3temp/var/Cache/Data/assets/
web/typo3temp/var/Cache/Data/l10n/
web/uploads/tx_templavoilaplus/
